body {
  font-family: "ProductSansRegular";
  color: #020202;
}
.page-btn {
  text-decoration: none;
  font-family: "ProductSansBold";
  font-weight: 700;
  color: #fff;
  padding: 12px 32px;
  background-color: #ef8880;
  border-radius: 4px;
}
.block-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

/* HEADER */
.header {
  padding: 0 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
}
.header-wrapper {
  max-width: 1224px;
  height: 88px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__navbar > a {
  text-decoration: none;
  font-weight: 700;
  line-height: 24px;
  color: #020202;
}
.header__navbar > a:not(:last-child) {
  margin-right: 48px;
}

/* end HEADER */
/* HERO */
.hero {
  padding: 0 10px 144px;
  position: relative;
}
.hero-wrapper {
  max-width: 1224px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero > img {
  position: absolute;
  right: 24%;
  bottom: 10%;
}
.hero__left {
  max-width: 600px;
}
.hero__left > h1 {
  font-size: 44px;
  line-height: 56px;
  margin: 160px 0 0;
}
.hero__left > p {
  font-family: Muli;
}
.hero__left--descriptor {
  line-height: 28px;
  color: #40434a;
  margin: 24px 0 60px;
}
.hero__left--descriptor > span {
  background: #d9f2fe;
  border-radius: 1px;
  color: #020202;
}
.hero__left--btn-block > p {
  width: 170px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #677294;
  text-align: center;
  margin-top: 20px;
}
.hero__form {
  box-sizing: border-box;
  max-width: 416px;
  padding: 32px 48px;
  background: #ffffff;
  box-shadow: 0px 16px 64px rgba(11, 17, 47, 0.08);
  border-radius: 8px;
  text-align: center;
  margin-top: 80px;
  position: relative;
  z-index: 10;
}
.hero__form > h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 24px;
}
.hero__form--item {
  text-align: left;
  margin-bottom: 24px;
  position: relative;
}
.hero__form--item > label {
  display: block;
  font-family: Muli;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #677294;
  margin-bottom: 8px;
}
.hero__form--item > select {
  background: #fbfbfd;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  padding: 10px 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  font-family: Muli;
  line-height: 28px;
}
.hero__form--item::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  background: url("../img/arrow.png") center center no-repeat;
  background-size: cover;
  right: 21px;
  top: 50px;
  pointer-events: none;
  transition: 0.5s;
}
.hero__form--item.rotated::after {
  transform: rotateX(180deg);
}

input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  border: 1px solid #000;
  border-radius: 4px;
  content: "\00a0";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 11px 0 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}
input[type="checkbox"]:checked + label:before {
  background: url("../img/checkbox.png") center center no-repeat;
  background-size: cover;
  content: "";
  border: none;
}
.hero__form--checkbox > span {
  font-family: Muli;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #677294;
}
.hero__form--total {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin: 35px 0;
}
.hero__form > button {
  background: #16c17f;
  border-radius: 24px;
  border: none;
  padding: 12px 66px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}

/* end HERO */
/* WHAT WE DO */
.whatwedo {
  background: #fbfbfd;
}
.whatwedo-wrapper {
  max-width: 1224px;
  margin: 0 auto;
  padding: 108px 0 160px;
}
.item__img {
  width: 64px;
  height: 64px;
  border-radius: 15.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.mb {
  margin-bottom: 80px;
}
.red-bg {
  background: #ef8880;
  box-shadow: 0px 8px 24px rgba(185, 45, 45, 0.24);
}
.blue-bg {
  background: #d9f2fe;
  box-shadow: 0px 8px 24px rgba(159, 205, 227, 0.24);
}
.green-bg {
  background: #16c17f;
  box-shadow: 0px 8px 24px rgba(45, 147, 107, 0.24);
}
.black-bg {
  background: #020202;
  box-shadow: 0px 8px 24px rgba(2, 2, 2, 0.24);
}
.orange-bg {
  background: #feaa2b;
  box-shadow: 0px 8px 24px rgba(254, 170, 43, 0.24);
}
.whatwedo__cells {
  text-align: center;
}
.whatwedo__cells--item {
  text-align: center;
  max-width: 328px;
  display: inline-block;
  margin-bottom: 76px;
}
.whatwedo__cells--item > h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin: 24px 0 16px;
}
.whatwedo__cells--item > p {
  font-family: Muli;
  line-height: 28px;
  color: #40434a;
  margin: 0;
}
/* end WHAT WE DO */
/* DISCOUNT */
.discount {
  background: #ef8880;
}
.discount-wrapper {
  max-width: 1224px;
  margin: 0 auto;
  padding: 70px 0;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.discount__left > h3 {
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  margin: 0 0 24px;
}
.discount__left > p {
  font-family: Muli;
  line-height: 28px;
  margin: 0;
}
.discount__right {
  text-align: center;
  margin-left: 30px;
}
.discount__right--use-discount {
  background: #fff;
  font-weight: bold;
  line-height: 24px;
  color: #ef8880;
  padding: 12px 32px;
}
.discount__girl {
  max-height: 494px;
  position: absolute;
  bottom: 0;
  right: 70px;
}
.discount__girl > img {
  height: 100%;
}
/* end DISCOUNT */
/* SAMPLES */
.samples {
  position: relative;
  padding: 80px 0 88px;
}
.samples > img {
  position: absolute;
}
.top {
  top: 18%;
  left: 5%;
}
.bottom {
  bottom: 5%;
  right: 6%;
}
.samples-wrapper {
  max-width: 1250px;
  margin: 0 auto;
  text-align: center;
}
.samples-wrapper > h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  margin: 0 0 16px;
}
.samples-wrapper > h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #677294;
  margin: 0 0 48px;
}
.samples__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.samples__container--item {
  max-width: 392px;
  border: 1px solid #fbfbfd;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
  text-align: left;
  padding: 24px;
  margin: 16px 12px;
}
.samples__container--item > h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}
.samples__container--item > p {
  font-family: Muli;
  line-height: 28px;
  color: #40434a;
  margin: 16px 0 24px;
}
.samples__container--item > a {
  text-decoration: none;
  font-weight: bold;
  line-height: 24px;
  text-align: right;
  color: #ef8880;
}

/* end SAMPLES */
/* STEPS */
.steps {
  background: #fbfbfd;
  padding: 100px 10px 40px;
  box-sizing: border-box;
}
.steps-wrapper {
  max-width: 1250px;
  margin: 0 auto;
}
.steps-wrapper > h2 {
  margin: 0 0 16px;
}
.steps-wrapper > h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #677294;
  margin: 0 0 80px;
}
.steps__container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
}
.steps__container > svg {
  position: absolute;
}
.steps__container--item {
  margin-bottom: 40px;
  max-width: 392px;
  text-align: center;
}
.steps__container--item:not(:last-child) {
  margin-right: 24px;
}
.steps__container--item > h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin: 32px 0 16px;
}
.steps__container--item > p {
  margin: 0;
  font-family: Muli;
  line-height: 28px;
  color: #40434a;
}
/* end STEPS */

/* MEDIA QUERIES */
@media screen and (max-width: 1270px) {
  .steps__container > svg {
    display: none;
  }
}
