* {
  font-family: "ProductSansRegular";
  font-size: 16px;
  color: #020202;
}
.page-btn {
  text-decoration: none;
  font-family: "ProductSansBold";
  font-weight: 700;
  color: #fff;
  padding: 12px 32px;
  background-color: #ef8880;
  border-radius: 4px;
}
.block-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}

/* HEADER */
.header {
  padding: 0 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.02);
}
.header-wrapper {
  max-width: 1250px;
  height: 88px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header__navbar > a {
  text-decoration: none;
  font-weight: 700;
  line-height: 24px;
  color: #020202;
}
.header__navbar > a:not(:last-child) {
  margin-right: 48px;
}
/* end HEADER */

/* HERO */
.hero {
  padding: 0 10px 144px;
  position: relative;
}
.hero-wrapper {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.hero > img {
  position: absolute;
  right: 24%;
  bottom: 10%;
}
.hero__left {
  max-width: 600px;
}
.hero__left > h1 {
  font-size: 44px;
  line-height: 56px;
  margin: 160px 0 0;
}
.hero__left > p {
  font-family: Muli;
}
.hero__left--descriptor {
  line-height: 28px;
  color: #40434a;
  margin: 24px 0 60px;
}
.hero__left--descriptor > span {
  background: #d9f2fe;
  border-radius: 1px;
  color: #020202;
}
.hero__left--btn-block > p {
  width: 170px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #677294;
  text-align: center;
  margin-top: 20px;
}
.hero__form {
  box-sizing: border-box;
  max-width: 416px;
  padding: 32px 48px;
  background: #ffffff;
  box-shadow: 0px 16px 64px rgba(11, 17, 47, 0.08);
  border-radius: 8px;
  text-align: center;
  margin-top: 80px;
  position: relative;
  z-index: 10;
}
.hero__form > h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 24px;
}
.hero__form--item {
  text-align: left;
  margin-bottom: 24px;
  position: relative;
}
.hero__form--item > label {
  display: block;
  font-family: Muli;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #677294;
  margin-bottom: 8px;
}
.hero__form--item > select {
  background: #fbfbfd;
  border: 1px solid #efefef;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  height: 48px;
  padding: 10px 16px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  font-family: Muli;
  line-height: 28px;
}
.hero__form--item::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  background: url("../img/arrow.png") center center no-repeat;
  background-size: cover;
  right: 21px;
  top: 50px;
  pointer-events: none;
  transition: 0.5s;
}
.hero__form--item.rotated::after {
  transform: rotateX(180deg);
}

input[type="checkbox"] {
  display: none;
}
label {
  cursor: pointer;
}
input[type="checkbox"] + label:before {
  border: 1px solid #000;
  border-radius: 4px;
  content: "\00a0";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 11px 0 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
}
input[type="checkbox"]:checked + label:before {
  background: url("../img/checkbox.png") center center no-repeat;
  background-size: cover;
  content: "";
  border: none;
}
.hero__form--checkbox > span {
  font-family: Muli;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #677294;
}
.hero__form--total {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin: 35px 0;
}
.hero__form > button {
  background: #16c17f;
  border-radius: 24px;
  border: none;
  padding: 12px 66px;
  font-weight: bold;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
/* end HERO */

/* WHAT WE DO */
.whatwedo {
  background: #fbfbfd;
}
.whatwedo-wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding: 108px 0 160px;
}
.item__img {
  width: 64px;
  height: 64px;
  border-radius: 15.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.mb {
  margin-bottom: 80px;
}
.red-bg {
  background: #ef8880;
  box-shadow: 0px 8px 24px rgba(185, 45, 45, 0.24);
}
.blue-bg {
  background: #d9f2fe;
  box-shadow: 0px 8px 24px rgba(159, 205, 227, 0.24);
}
.green-bg {
  background: #16c17f;
  box-shadow: 0px 8px 24px rgba(45, 147, 107, 0.24);
}
.black-bg {
  background: #020202;
  box-shadow: 0px 8px 24px rgba(2, 2, 2, 0.24);
}
.orange-bg {
  background: #feaa2b;
  box-shadow: 0px 8px 24px rgba(254, 170, 43, 0.24);
}
.whatwedo__cells {
  text-align: center;
}
.whatwedo__cells--item {
  text-align: center;
  max-width: 328px;
  display: inline-block;
  margin-bottom: 76px;
}
.whatwedo__cells--item > h3 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin: 24px 0 16px;
}
.whatwedo__cells--item > p {
  font-family: Muli;
  line-height: 28px;
  color: #40434a;
  margin: 0;
}
/* end WHAT WE DO */

/* DISCOUNT */
.discount {
  background: #ef8880;
}
.discount-wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding: 70px 0;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}
.discount__left > h3 {
  font-weight: bold;
  font-size: 44px;
  line-height: 56px;
  margin: 0 0 24px;
}
.discount__left > p {
  font-family: Muli;
  line-height: 28px;
  margin: 0;
}
.discount__right {
  text-align: center;
  margin-left: 30px;
}
.discount__right--use-discount {
  background: #fff;
  font-weight: bold;
  line-height: 24px;
  color: #ef8880;
  padding: 12px 32px;
}
.discount__girl {
  max-height: 494px;
  position: absolute;
  bottom: 0;
  right: 70px;
}
.discount__girl > img {
  height: 100%;
}
/* end DISCOUNT */

/* SAMPLES */
.samples {
  position: relative;
  padding: 80px 0 88px;
}
.samples > img {
  position: absolute;
}
.top {
  top: 18%;
  left: 5%;
}
.bottom {
  bottom: 5%;
  right: 6%;
}
.samples-wrapper {
  max-width: 1250px;
  margin: 0 auto;
  text-align: center;
}
.samples-wrapper > h3 {
  font-weight: bold;
  font-size: 28px;
  line-height: 40px;
  margin: 0 0 16px;
}
.samples-wrapper > h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  color: #677294;
  margin: 0 0 48px;
}
.samples__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.samples__container--item {
  max-width: 392px;
  border: 1px solid #fbfbfd;
  box-sizing: border-box;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04);
  border-radius: 8px;
  background-color: #ffffff;
  position: relative;
  z-index: 10;
  text-align: left;
  padding: 24px;
  margin: 16px 12px;
}
.samples__container--item > h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
}
.samples__container--item > p {
  font-family: Muli;
  line-height: 28px;
  color: #40434a;
  margin: 16px 0 48px;
}
.samples__container--item > a {
  text-decoration: none;
  font-weight: bold;
  line-height: 24px;
  text-align: right;
  color: #ef8880;
  position: absolute;
  bottom: 24px;
  left: 24px;
}
/* end SAMPLES */

/* STEPS */
.steps {
  background: #fbfbfd;
  padding: 100px 10px 40px;
  box-sizing: border-box;
}
.steps-wrapper {
  max-width: 1250px;
  margin: 0 auto;
}
.steps-wrapper > h2 {
  margin: 0 0 16px;
}
.steps-wrapper > h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #677294;
  margin: 0 0 80px;
}
.steps__container {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: space-around;
}
.steps__container > svg {
  position: absolute;
}
.steps__container--item {
  margin-bottom: 40px;
  max-width: 392px;
  text-align: center;
}
.steps__container--item:not(:last-child) {
  margin-right: 24px;
}
.steps__container--item > h5 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  margin: 32px 0 16px;
}
.steps__container--item > p {
  margin: 0;
  font-family: Muli;
  line-height: 28px;
  color: #40434a;
}
/* end STEPS */
/* CUSTOMER SUPPORT  */
.support {
  padding: 80px 10px 72px;
  position: relative;
}
.support-pattern-top,
.support-pattern-bottom {
  position: absolute;
}
.support-pattern-top {
  top: 25%;
  left: 6%;
}
.support-pattern-bottom {
  top: 31%;
  right: 6%;
}
.support-wrapper {
  max-width: 1250px;
  margin: 0 auto;
  text-align: center;
}
.support-wrapper > h2 {
  margin: 0 0 16px;
}
.support-wrapper > h4 {
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #677294;
  margin: 0 0 72px;
}
.support__info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.support-top,
.support-bottom {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.support__info--item {
  max-width: 288px;
  text-align: center;
  margin-bottom: 80px;
}
.support__info--item > h2 {
  font-size: 44px;
  line-height: 56px;
  margin: 0;
}
.support__info--item > p {
  font-family: Muli;
  line-height: 28px;
  margin: 0;
}

.color-violet {
  color: #c36cf7;
}
.color-orange {
  color: #ef8880;
}
.color-blue {
  color: #6271f6;
}
.color-light-blue {
  color: #4b9acf;
}
.color-light-blue > span {
  opacity: 0.2;
  font-size: 22px;
}
.top-row {
  max-width: 432px;
  margin-bottom: 128px;
}
.top-row > h2 {
  font-size: 72px;
  line-height: 96px;
  color: #16c17f;
  margin-bottom: 8px;
}
.support-btn > p {
  margin-left: auto;
  margin-right: auto;
}
/* end CUSTOMER SUPPORT  */

/* SLICK CADOUSEL */
.testimonials {
  max-width: 1224px;
  margin: 0 auto;
  text-align: center;
  padding: 80px 10px;
}
.testimonials > h3 {
  font-size: 28px;
  line-height: 40px;
  margin: 0;
}
.testimonials > h5 {
  font-family: Muli;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  color: #677294;
  margin: 8px 0 72px;
}
.testimonials__slider {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.testimonials__slider--slide {
  box-sizing: border-box;
  max-width: 396px;
  height: 236px;
  border: 1px solid #fbfbfd;
  box-sizing: border-box;
  border-radius: 8px;
  text-align: left;
  padding: 24px;
  margin-right: 24px;
}
.testimonials__slider--slide > h4 {
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 22px;
}
.testimonials__slider--slide > p {
  font-family: Muli;
  line-height: 28px;
  color: #40434a;
  margin: 14px 0 0;
}
.testimonials__slider--slide > p > span {
  background: #d9f2fe;
  border-radius: 1px;
}
.slick-dots {
  list-style-type: none;
  margin: 48px auto 0;
  padding: 0;
}
button#slick-slide-control00,
button#slick-slide-control01,
button#slick-slide-control02 {
  background: #efefef;
  width: 12px !important;
  height: 12px !important;
  border: none;
  border-radius: 50%;
}
.slick-dots > li {
  display: inline-block;
}
.slick-dots > li:not(:last-child) {
  margin-right: 12px;
}
.slick-dots > li > button {
  text-indent: -9999px;
  background-color: #efefef;
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  outline: none !important;
}
.slick-active > button {
  background-color: #ef8880 !important;
}
/* end SLICK CAROUSEL */
/* GUARANTEE */
.guarantee {
  background: #fbfbfd;
}
.guarantee-wrapper {
  max-width: 1250px;
  margin: 0 auto;
  padding: 100px 10px 80px;
}
.guarantee-wrapper > h2 {
  margin: 0 0 90px;
}
.guarantee__btn {
  text-align: center;
  margin-top: 92px;
}
.guarantee__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.guarantee__container--item {
  max-width: 380px;
  text-align: center;
}
.guarantee__container--item:not(:last-child) {
  margin: 0 24px 24px 0;
}
.guarantee__container--item > h3 {
  font-size: 20px;
  line-height: 28px;
  margin: 52px 0 16px;
}
.guarantee__container--item > p {
  font-family: Muli;
  line-height: 28px;
  color: #40434a;
  margin: 0;
}
/* end GUARANTEE */
/* CEO */
.ceo {
  padding: 100px 10px;
}
.ceo > p {
  max-width: 1200px;
  margin: 0 auto;
  font-family: Muli;
  line-height: 28px;
}
.ceo-wrapper {
  max-width: 1250px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.ceo__item {
  max-width: 564px;
  margin-bottom: 48px;
}
.ceo__item:nth-child(2n + 1) {
  margin-right: 64px;
}
.ceo__item > h3 {
  font-family: Muli;
  line-height: 28px;
  margin: 0 0 16px;
}
.ceo__item > p {
  font-family: Muli;
  line-height: 28px;
  color: #40434a;
  margin: 0;
}
/* end SEO */
/* FOOTER */
.footer {
  background: #0f1939;
}
.footer-wrapper {
  max-width: 1224px;
  margin: 0 auto;
}
.footer__container {
  padding: 104px 10px 87px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer__left--logo {
  max-width: 204px;
  margin-bottom: 51px;
}
.footer__left--logo > img {
  width: 100%;
}
.footer__left--navbar {
  display: flex;
  flex-direction: column;
  margin-bottom: 57px;
}
.footer__left--navbar > a {
  text-decoration: none;
  color: #fbfbfd;
  font-weight: bold;
  line-height: 24px;
}
.footer__left--navbar > a:not(:last-child) {
  margin: 0 0 24px;
}
.footer__left--icons > a:not(:last-child) {
  margin-right: 28px;
}
.footer__center > * {
  color: #ffffff;
}
.footer__center > h2 {
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 50px;
}
.footer__center > p {
  font-weight: bold;
  line-height: 24px;
  color: #fbfbfd;
}
.footer__center > p:not(:last-child) {
  margin: 0 0 24px;
}

.footer__right > h2 {
  color: #ffffff;
  font-size: 20px;
  line-height: 28px;
  margin: 0 0 50px;
}
.footer__right--payments,
.footer__right--guarantees {
  max-width: 336px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright {
  padding: 24px 0 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  font-family: Muli;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #677294;
}
/* end FOOTER */

/* MEDIA QUERIES */
@media screen and (max-width: 1270px) {
  .steps__container > svg {
    display: none;
  }
  .discount__girl {
    display: none;
  }
  .ceo-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .ceo__item:nth-child(2n + 1) {
    margin-right: 0;
  }
}
@media screen and (max-width: 1000px) {
  .hero-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .footer__container {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 700px) {
  .testimonials__slider--slide {
    height: auto;
    margin-right: 0;
    max-width: 100%;
  }
  .discount-wrapper {
    flex-direction: column;
    text-align: center;
  }
  .support-top,
  .support-bottom {
    flex-direction: column;
    align-items: center;
  }
  button#slick-slide-control00,
  button#slick-slide-control01,
  button#slick-slide-control02 {
    background: #0000ff;
    width: 12px;
    height: 12px;
    font-size: 12px !important;
    /* background: #efefef; */
    /* width: 5px !important;
    height: 10px !important; */
    /* font-size: 10px;
    line-height: 10px; */
  }
}
